<!doctype html>
<html lang="kr">
  <head>
    <!-- 외부 라이브러리 /public에 위치 -->
    <script src="/javascripts/redirect.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/public/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./freeboard_local.js?ver1"></script>

    <%- include ('../../public/ejs-module/head.ejs') %>
  </head>
  <body>
    <!--상단 네비게이션 바 -->
    <%- include ('../../public/ejs-module/header.ejs') %>

<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>자유게시판</h1>
    <p class="lead">자유롭지만 방종은 안된답니다.</p>

    <!-회원만 글 작성 가능하기 위해 글 작성 버튼을 막음 ->
    <% if(info.state == "Member") {%>
    <p><a href="./write">글쓰기</a></p>
    <% } else { %>
      <p class="lead">회원만 글 작성이 가능하며 비회원은 댓글 작성만 가능합니다.</p>
    <% } %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col-4">글 번호</th>
          <th scope="col-md-10">제목</th>
          <th scope="col-md-2">작성자</th>
          <th scope="col-md-2">작성 날짜</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<result.data.length; i++){ %>
        <tr id="<%= result.data[i].num %>" onclick="getPost(id)">
          <td> <%= result.data[i].num %> </td>
          <td> <%= result.data[i].title %> </td>
          <td> <%= result.data[i].user_id %> </td>
          <td> <%= result.data[i].created %> </td>
          <td> <%= result.data[i].views %> </td>
          </tr>
        <% } %>
      </tbody>
    </div>
  </table>

  <!- 게시판 이동을 위한 쿼리문 삽입 예정 ->

</main> <!-- /.container -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script type="text/javascript">
</script>
  </body>
</html>
