<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MINI BOOM</title>
  <link rel="stylesheet" href="notice.css">
  <script src="../../public/javascripts/jquery-3.5.1.min.js"></script>
  <script src="notice.js"></script>
  <%- include ('../../public/ejs-module/head.ejs') %>
</head>

<body>

  <%- include ('../../public/ejs-module/header.ejs') %>


  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">ALL_NOTICE</h1>
      <!-- ALL_NOTICE -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>SENDER</th>
                    <th>CONTENT</th>
                    <th>TIME</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i<data.length; i++){ %>
                  <tr id="<%=i%>" onclick="openModal(this);">
                    <td class="sender"> <%=data[i].sender%> </td>
                    <td class="content"> <%=data[i].content%> </td>
                    <td> <%=data[i].push_time%> </td>
                    <input type="hidden" class="sender_state" value="<%=data[i].sender_state%>">
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ALL_NOTICE -->

    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->

  <!-- Writer messageModal-->
  <div class="modal" id="messageModal" data-backdrop="false" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"><span class="modal-title" id="message-target"></span></div>
      <div class="modal-body"><textarea id="poster-content" name="poster-content" rows="10" cols="40"></textarea></div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="sendMessage" onclick="sendMemo()">SEND</a>
        <a class="btn btn-primary" id="replyMessage">reply</a>
        <button class="btn btn-secondary" onclick="closeModal();" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="nickname" value="<%=info.nickname%>">
</body>

<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>
